<section class="our-programm" id="our-programm">
    <div class="thumb-programm">
        <div class="container">
            <div class="programm">
                <h2 class="programm__title">Наша программа</h2>
                <ul class="programm__list">
                    <li class="programm__item">
                        <h3 class="programm__item--title"><span>1</span> семестр</h3>
                        <ul class="programm__underlist">
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Grammar</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Nouns & Articles</li>
                                    <li class="programm__subitem">Adjectives & Adverb</li>
                                </ul>
                            </li>
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Vocabulary</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Family & Relations</li>
                                    <li class="programm__subitem">People & Society</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="programm__item">
                        <h3 class="programm__item--title"><span>2</span> семестр</h3>
                        <ul class="programm__underlist">
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Grammar</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Pronouns</li>
                                    <li class="programm__subitem">Active Voice</li>
                                    <li class="programm__subitem">Passive Voice</li>
                                </ul>
                            </li>
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Vocabulary</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Home</li>
                                    <li class="programm__subitem">School</li>
                                    <li class="programm__subitem">Work</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="programm__item">
                        <h3 class="programm__item--title"><span>3</span> семестр</h3>
                        <ul class="programm__underlist">
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Grammar</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Modal verbs</li>
                                    <li class="programm__subitem">Infinitive</li>
                                    <li class="programm__subitem">Gerund</li>
                                    <li class="programm__subitem">Participle: 1, 2</li>
                                </ul>
                            </li>
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Vocabulary</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Travel & Tourism</li>
                                    <li class="programm__subitem">Culture & Free Time</li>
                                    <li class="programm__subitem">Sport</li>
                                </ul>
                            </li>
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Writing</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Informal Letter</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="programm__item">
                        <h3 class="programm__item--title"><span>4</span> семестр</h3>
                        <ul class="programm__underlist">
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Grammar</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Clauses: Conditional and Wishes</li>
                                    <li class="programm__subitem">Direct / Reported speech</li>
                                    <li class="programm__subitem">Preposition</li>
                                    <li class="programm__subitem">Conjunction</li>
                                    <li class="programm__subitem">Numeral</li>
                                </ul>
                            </li>
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Vocabulary</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Healthy Living</li>
                                    <li class="programm__subitem">Nature & Environment</li>
                                    <li class="programm__subitem">Money</li>
                                </ul>
                            </li>
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">— Writing</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Formal Letter</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="programm__item">
                        <h3 class="programm__item--title"><span>5</span> семестр</h3>
                        <ul class="programm__underlist">
                            <li class="programm__underitem">
                                <h4 class="programm__undertitle">—</h4>
                                <ul class="programm__sublist">
                                    <li class="programm__subitem">Revision<br>Tests</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="programm__img"></div>
            <div class="about">
                <h2 class="about__title">Почему нас выбирают</h2>
                <ul class="about__list">
                    <li class="about__item">
                        <h3 class="about__number">— 01</h3>
                        <p class="about__text">Обучение в малых командах</p>
                    </li>
                    <li class="about__item">
                        <h3 class="about__number">— 02</h3>
                        <p class="about__text">Визуализированные конспекты</p>
                    </li>
                    <li class="about__item">
                        <h3 class="about__number">— 03</h3>
                        <p class="about__text">Каждое занятие имеет цель и конкретный результат</p>
                    </li>
                    <li class="about__item">
                        <h3 class="about__number">— 04</h3>
                        <p class="about__text">Ревльные результаты преподавателя</p>
                    </li>
                    <li class="about__item">
                        <h3 class="about__number">— 05</h3>
                        <p class="about__text">Прогамма курса соответствует требованиям МОН Украины</p>
                    </li>
                    <li class="about__item">
                        <h3 class="about__number">— 06</h3>
                        <p class="about__text">Набор команд по уровням знаний</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>