.our-programm {
  height: 2320px;
}
.thumb-programm {
  padding-top: 50px;
  background-color: $black;
  height: 2050px;
  & .container {
    position: relative;
  }
}
.programm__img {
  position: absolute;
  left: 200px;
  top: 1398px;
  width: 120px;
  height: 173px;
  background-image: url('/images/our-programm/our-programm-bg-320.png');
  background-repeat: no-repeat;
  background-size: 120px 137px;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/images/our-programm/our-programm-bg-320@2x.png');
    background-repeat: no-repeat;
    background-size: 384px 280px;
    background-position: center;
  }
}
.programm__item {
  position: relative;
  padding-left: 32px;
}
.programm__item--title {
  @include font(700, 14px, 28px, inherit, 0.08em);
  color: $white;
  text-transform: uppercase;
  margin-top: 40px;
  &::before {
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    background-color: $orange;
    border-radius: 50%;
  }
}
.programm__list {
  position: relative;
  padding-left: 68px;
  &::before {
    position: absolute;
    left: 74px;
    top: 7px;
    display: inline-block;
    content: '';
    width: 1px;
    height: 1281px;
    transform-origin: bottom left;
    background-color: $white;
  }
}
.programm__title {
  @include font(800, 20px, 26px, center, 0.03em);
  color: $white;
}

.programm__underlist {
  margin-top: 11px;
  text-transform: none;
}
.programm__undertitle {
  @include font(700, 12px, 20px, inherit, 0.08em);
  color: $orange;
  margin-bottom: 11px;
}
.programm__subitem {
  @include font(500, 12px, 20px, inherit, 0.08em);
  color: $grey;
  opacity: 0.5;
}
.programm__underitem {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}
.about {
  position: absolute;
  width: 280px;
  padding-top: 50px;
}
.about__title {
  width: 180px;
  @include font(800, 20px, 27px, inherit, 0.03em);
  color: $white;
  margin-bottom: 30px;
}
.about__list {
  background-color: $white;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 20px 14px 20px 30px;
}
.about__number {
  @include font(700, 14px, 23px, inherit, 0.08em);
  color: $orange;
  margin-bottom: 10px;
}
.about__text {
  @include font(700, 14px, 20px, inherit, 0.08em);
  color: $black;
}
.about__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .our-programm {
    height: 1675px;
  }
  .thumb-programm {
    padding-top: 60px;
    height: 1355px;
  }
  .programm__img {
    width: 384px;
    height: 280px;
    left: 384px;
    top: 762px;
    background-image: url('/images/our-programm/our-programm-bg-768.png');
    background-repeat: no-repeat;
    background-size: 384px 280px;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/images/our-programm/our-programm-bg-768@2x.png');
      background-repeat: no-repeat;
      background-size: 384px 280px;
      background-position: center;
    }
  }
  .programm__title {
    @include font(800, 26px, 34px, left, 0.03em);
  }
  .programm__list {
    padding-top: 20px;
    padding-left: 57px;
    &::before {
      height: 717px;
      top: 65px;
      left: 63px;
    }
  }
  .programm__item--title {
    margin-top: 30px;
  }
  .programm__underlist {
    display: flex;
  }
  .programm__underitem {
    width: 176px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .programm__underitem {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .about {
    padding-top: 180px;
    width: 688px;
  }
  .about__title {
    @include font(800, 26px, 34px, center, 0.03em);
    width: 688px;
  }
  .about__list {
    padding: 30px 98px 25px 98px;
    display: flex;
    flex-wrap: wrap;
  }
  .about__item {
    width: calc((100% - 2 * 20px) / 2);
    &:nth-child(odd) {
      @media screen and (max-width: 1343px) {
        margin-right: 20px;
      }
    }
    &:not(:nth-child(n + 5)) {
      @media screen and (max-width: 1343px) {
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (min-width: 1344px) {
  .our-programm {
    height: 1565px;
  }
  .thumb-programm {
    position: relative;
    padding-top: 120px;
    height: 1237px;
    &::before {
      position: absolute;
      left: 0;
      top: 277px;
      display: inline-block;
      content: '';
      width: 100vw;
      height: 1px;
      transform-origin: bottom left;
      background-color: $white;
    }
  }
  .programm__list {
    padding-left: 0;
    padding-top: 92px;
    display: flex;
    &::before {
      display: none;
    }
  }
  .programm__title {
    @include font(800, 46px, 60px, left, 0.03em);
  }
  .programm__item {
    padding-left: 0;
  }
  .programm__underlist {
    margin-top: 0;
    display: block;
  }
  .programm__item--title {
    margin-top: 0;
    & span {
      @include font(700, 30px, 28px, inherit, 0.08em);
    }
    @include font(700, 20px, 28px, inherit, 0.08em);
    &::before {
      display: block;
      position: static;
      margin-bottom: 52px;
    }
  }
  .programm__underitem {
    width: 240px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .programm__undertitle {
    @include font(700, 20px, 33px, inherit, 0.08em);
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .programm__subitem {
    @include font(500, 18px, 28px, inherit, 0.08em);
  }
  .about__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .about {
    padding-top: 164px;
    width: 1314px;
  }
  .about__list {
    padding: 70px 82px 70px 84px;
  }
  .about__number {
    @include font(700, 20px, 33px, inherit, 0.08em);
  }
  .about__text {
    @include font(700, 20px, 28px, inherit, 0.08em);
  }
  .about__item {
    width: 356px;
    &:not(:nth-child(n + 4)) {
      margin-bottom: 32px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 40px;
    }
  }
  .programm__img {
    width: 672px;
    height: 502px;
    left: -163px;
    top: 556px;
    background-image: url('/images/our-programm/our-programm-bg-1344.png');
    background-repeat: no-repeat;
    background-size: 672px 502px;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/images/our-programm/our-programm-bg-1344@2x.png');
      background-repeat: no-repeat;
      background-size: 384px 280px;
      background-position: center;
    }
  }
}
